name: Refresh laws
on:
  schedule:
  - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  refresh:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v16
      with:
        nix_path: nixpkgs=channel:nixos-24.11
    - run: nix run .#generate
    - name: Count laws
      id: count_laws
      run: |
        count=$(find laws -type f | wc -l)
        echo "Found $count laws"
        echo "count=$count" >> $GITHUB_OUTPUT
    - uses: EndBug/add-and-commit@v7
      if: steps.count_laws.outputs.count >= 100
      with:
        default_author: github_actions
        message: refresh laws
        branch: master
