name: Refresh laws
on:
  schedule:
  - cron: "0 0 * * *"
jobs:
  refresh:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v12
      with:
        nix_path: nixpkgs=channel:nixos-20.09
    - run: nix-shell --run generate
    - uses: EndBug/add-and-commit@v7
      with:
        default_author: github_actions
        message: refresh laws
        branch: master
